@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.nav_container {
  display: none;
}

.nav_container > ul {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  border: none;
  width: 25px;
  height: 25px;
  background-color: #fff;
}

.home-top {
  background-image: url("assets/images/Concert-crowd.jpg");
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.page-about {
  background-image: url("assets/images/Concert-crowd.jpg");
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(211, 211, 211, 0.8);
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 100px;
  margin-top: 50px;
}

.home-text {
  margin: 0 0 0 10%;
  padding-top: 15%;
  color: #ec5242;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 20px rgb(255, 38, 0), 0 0 42px rgb(255, 153, 0), 0 0 42px rgb(244, 247, 246);
}

.home-p {
  border: 2px solid #d3d3d3;
  width: 95vw;
  align-content: center;
  margin: 20px;
  padding: 25px;
  font-weight: 600;
}

.about-text {
  text-shadow: none;
}

.home-text h3 {
  font-size: 3em;
}

.about-text h3 {
  font-size: 2em;
}

.home2 {
  background-image: url("assets/images/background2.jpg");
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 100PX;
}

.home2 > p {
  text-align: center;
  padding-top: 5%;
  z-index: 2;
  margin: 0;
}

.line {
  width: 50px;
  height: auto;
  z-index: 3;
  margin: auto;
  display: block;
  width: 3em;
  margin-top: 10px;
}

.card-box {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 0 10px;
  align-items: center;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  background-color: rgba(39, 42, 49, 0.8);
  align-items: center;
  padding: 10px;
  gap: 10px 0 0 0;
}

h6 {
  color: #ec5242;
  font-size: 0.9em;
}

.box-p {
  padding-left: 20px;
}

.box-p > p {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  width: 75px;
  height: 50px;
  margin: 20px;
}

.no-display {
  display: none;
}

.join-btn {
  background-color: #ec5242;
  color: #fff;
  padding: 30px;
  border: none;
  margin: 60px 0 0 0;
}

.btn-div {
  background-color: none;
}

@media screen and (min-width: 768px) {
  .nav_container {
    background-color: #272a31;
  }
  .menu {
    display: none;
  }
  .nav_container > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 12em;
    gap: 40px;
    margin-bottom: 0;
  }
  .nav-link1 {
    color: #fff;
    text-decoration: none;
  }
  .nav-link2 {
    color: #272a31;
    text-decoration: none;
  }
  .logo {
    border: 2px solid #ec5242;
    color: #ec5242;
    padding: 0 5px;
  }
  .nav-links :hover {
    color: #fff;
  }
  .nav1 {
    background-color: #272a31;
  }
  .nav2 {
    margin-top: 30px;
    background-color: #fff;
  }
  .nav2-item {
    color: #272a31;
  }
  .nav-icons {
    z-index: 9;
    width: 20px;
    height: 20px;
  }
  .home-top {
    margin-top: 75px;
    height: 86vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .overlay {
    margin-top: 75px;
    height: 86vh;
  }
  .home2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .card-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-content: center;
    padding: 0 10vw;
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 430px;
    background-color: rgba(39, 42, 49, 0.8);
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
  .no-display {
    display: block;
    font-size: 0.8em;
    text-decoration: underline;
  }
  .join-btn {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */