
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

$orange: #ec5242;
$black: rgb(39, 42, 49);
$grey: #d3d3d3;

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.nav_container {
  display: none;
}

.nav_container>ul {
  display: none;
}

.navbar {
  display: none;
}

.menu {
  position: fixed;
  display: block;
  float: left;
  border: none;
  margin: 15px 0 0 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.menu_opt {
  display: none;
  background-color: rgba(39, 42, 49, 0.2);
  backdrop-filter: blur(10px);
  z-index: 11;
  width: 100%;
  // height: 100vh;
  padding: 20px 20px 0 30px;
  position: fixed;
}

.menu_opt a {
  color: $black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
}

.menu_items {
  margin-bottom: 50px;
  padding: 10px;
  list-style-type: none;
  margin-top: 50px;
}

.menu_list {
  width: 100px;
}

.close_menu {
  float: right;
  background-color: rgba(236, 82, 66, 0.2);
  border: none;
  color: #fff;
  width: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.home-top {
  background-image: url('assets/images/Concert-crowd.jpg');
  width: 100vw;
  height: fit-content;
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.page-about {
  background-image: url('assets/images/Concert-crowd.jpg');
  width: 100vw;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(211, 211, 211, 0.8);
  width: 100vw;
  height: fit-content;
  padding-bottom: 100px;
  padding-right: 30px;
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

.home-text {
  margin: 0 0 0 10%;
  padding-top: 15%;
  color: #ec5242;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 20px rgb(255, 38, 0), 0 0 42px rgb(255, 153, 0), 0 0 42px rgb(244, 247, 246);
}

.home-p {
  border: 2px solid $grey;
  width: 80vw;
  align-content: center;
  margin: 0 0 0 10%;
  padding: 25px;
  font-weight: 600;
  color: $black;
}

.home-p2 {
  width: 80vw;
  align-content: center;
  margin: 0 0 0 10%;
  padding: 25px;
  font-weight: 600;
  color: $black;
}

.about-p2 {
  width: 80vw;
  align-content: center;
  margin: 0 0 0 10%;
  padding: 25px;
  font-weight: 400;
  color: $black;
}

span {
  font-size: 2em;
  font-weight: 700;
}

.about-text {
  text-shadow: none;
}

.home-text h3 {
  font-size: 3em;
}

.about-text h3 {
  font-size: 2em;
}

.home2 {
  background-image: url('assets/images/background2.jpg');
  width: 100vw;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-right: 40px;
  padding-bottom: 100px;
}

.home2>p {
  text-align: center;
  padding-top: 5%;
  z-index: 2;
  margin: 0;
}

.line {
  width: 50px;
  height: auto;
  z-index: 3;
  margin: auto;
  display: block;
  width: 3em;
  margin-top: 10px;
}

.card-box {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 0 10px;
  align-items: center;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  background-color: rgba(39, 42, 49, 0.8);
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.card-box :hover {
  border: 2px solid $grey;
}

.no-hover:hover {
  border: none;
}

h6 {
  color: $orange;
  font-size: 0.9em;
}

.box-p {
  padding-left: 20px;
}

.box-p>p {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  width: 75px;
  height: 50px;
  margin: 20px;
}

.no-display {
  display: none;
}

.join-btn {
  background-color: $orange;
  color: #fff;
  padding: 30px;
  border: none;
  margin: 60px 0 0 0;
}

.btn-div {
  background-color: none;
}

.artists {
  flex-direction: column;
}

footer {
  background-color: $black;
  width: 100vw;
  height: 200px;
  color: $grey;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px 18% 0 18%;
}

.foot-p {
margin-top: 20px;
font-size: 0.8em;
}

.spon-h {
font-weight: 700;
}

.sponsor {
  display: flex;
  gap: 5%;
}

hr {
  color: #ec5242;
  width: 100%;
}

.sponsor>img {
  width: 60px;
  height: 60px;
}

#sp1 {
  min-width: 120px;
}

#sp2 {
  min-width: 110px;
}

#sp3 {
  min-width: 90px;
}

.card_img {
  width: 100px;
  height: 150px;
  background-size: cover;
}

.img-div {
  min-width: 100px;
  height: 100px;
}

.txt-div {
  width: 65%;
}

.card-h {
  color: $black;
  font-size: 0.9em;
  font-weight: 700;
}

.card-p1 {
  color: $orange;
  font-weight: 400;
  font-size: 0.8em;
  font-style: italic;
}

.card-p2 {
  color: $black;
  font-weight: 400;
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {

  .nav_container {
    background-color: $black;
  }

  .menu {
    display: none;
  }

  .nav_container > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 12em;
    gap: 40px;
    margin-bottom: 0;
  }

  .nav-link1 {
    color: #fff;
    text-decoration: none;
  }

  .nav-link2 {
    color: $black;
    text-decoration: none;
  }

  .logo {
    border: 2px solid $orange;
    color: $orange;
    padding: 0 5px;
  }

  .nav-links :hover {
    color: #fff;
  }

  .nav1 {
    background-color: $black;
  }

  .nav2 {
    margin-top: 24px;
    background-color: #fff;
  }

  .nav2-item {
    color: $black;
  }

  .nav-icons {
    z-index: 9;
    width: 20px;
    height: 20px;
  }

  .home-top {
    margin-top: 50px;
    width: 100vw;
    margin-top: 50px;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overlay {
    margin-top: 50px;
    height: fit-content;
    padding-bottom: 100px;
  }

  .home-p {
    border: 2px solid $grey;
    width: 50vw;
    align-content: center;
    margin: 0 0 0 10%;
    padding: 25px;
    font-weight: 600;
  }

  .home2 {
    height: fit-content;
  }

  .card-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-content: center;
    padding: 0 10vw;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 300px;
    height: fit-content;
    background-color: rgba(39, 42, 49, 0.8);
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .no-display {
    display: block;
    font-size: 0.8em;
    text-decoration: underline;
  }

  .join-btn {
    display: none;
  }

  .artists {
    display: table;
  
  }

  footer {
    background-color: $black;
    width: 100vw;
    height: 200px;
    color: $grey;
    text-align: center;
    padding-top: 100px;
  }

  .foot-p {
    display: block;
  }

  .hide {
    display: none;
  }

}