@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

$orange: #ec5242;
$black: #272a31;
$grey: #d3d3d3; 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.nav_container {
  display: none;
}

.nav_container > ul {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  border: none;
  width: 25px;
  height: 25px;
  background-color: #fff;
}
.home-top {
  background-image: url('assets/images/Concert-crowd.jpg');
  width: 100vw;
  height: 80vh;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(211, 211, 211, 0.8);
  width: 100vw;
  height: 80vh;
  margin-top: 50px;
}

.home-text {
  margin: 0 0 0 20%;
  padding-top: 15%;
  color: #ec5242;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 20px rgb(255, 38, 0), 0 0 42px rgb(255, 153, 0),0 0 42px rgb(244, 247, 246);
}

.home-text h3 {
  font-size: 3em;
}

.home2 {
  background-image: url('assets/images/background2.jpg');
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  
.nav_container {
  background-color: $black;
}

.menu {
  display: none;
}

.nav_container > ul {
  display: flex; 
  flex-direction: row;
  list-style-type: none;
  padding-right: 12em;
  gap: 40px;
  margin-bottom: 0;
}

.nav-link1 {
  color: #fff;
  text-decoration: none;
}

.nav-link2 {
  color: $black;
  text-decoration: none;
}

.logo {
  border: 2px solid $orange;
  color: $orange; 
  padding: 0 5px;
}

.nav-links :hover {
  color: #fff;
}

.nav1 {
  background-color: $black;
}

.nav2 {
  margin-top: 30px;
  background-color: #fff;
}

.nav2-item  {
  color: $black;
}

.nav-icons {
  z-index: 9;
  width: 20px;
  height: 20px;
}

.home-top {
  margin-top: 75px;
  height: 86vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  margin-top: 75px;
  height: 86vh;
}

.home2 {
  height: 60vh;
}

}
