
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.nav_container {
  display: none;
}

.nav_container > ul {
  display: none;
}

.navbar {
  display: none;
}

.logo-small {
  width: 50px;
  height: 25px;
}

#small-logo {
  width: 50px;
  height: 25px;
}

.see-link {
  display: none;
  color: #d3d3d3;
}

.menu {
  position: fixed;
  display: block;
  float: left;
  border: none;
  margin: 15px 0 0 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.menu_opt {
  display: none;
  background-color: rgba(39, 42, 49, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 11;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 0 30px;
  position: fixed;
}

.menu_opt a {
  color: rgb(39, 42, 49);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
}

.menu_items {
  margin-bottom: 50px;
  padding: 10px;
  list-style-type: none;
  margin-top: 50px;
}

.menu_list {
  width: 100px;
}

.close_menu {
  float: right;
  background-color: rgba(236, 82, 66, 0.2);
  border: none;
  color: #fff;
  width: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.home-top {
  background-image: url("assets/images/Concert-crowd.jpg");
  width: 100vw;
  height: auto;
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.page-about {
  background-image: url("assets/images/Concert-crowd.jpg");
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(211, 211, 211, 0.8);
  width: 100vw;
  height: auto;
  padding-bottom: 100px;
  padding-right: 30px;
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

.home-text {
  margin: 0 0 0 10%;
  padding-top: 15%;
  color: #ec5242;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 20px rgb(255, 38, 0), 0 0 42px rgb(255, 153, 0), 0 0 42px rgb(244, 247, 246);
}

.home-p {
  border: 2px solid #d3d3d3;
  width: 80vw;
  align-content: center;
  margin: 0 0 0 10%;
  padding: 25px;
  font-weight: 600;
  color: rgb(39, 42, 49);
}

.about-p {
  border: 2px solid #d3d3d3;
  width: 65vw;
  align-content: center;
  margin: 0 0 0 16%;
  padding: 25px;
  font-weight: 600;
  color: rgb(39, 42, 49);
  text-align: center;
}

.home-p2 {
  width: 80vw;
  align-content: center;
  margin: 0 0 0 10%;
  padding: 25px;
  font-weight: 600;
  color: rgb(39, 42, 49);
}

.about-p2 {
  width: 80vw;
  align-content: center;
  margin: 0 0 0 10%;
  padding: 25px;
  font-weight: 400;
  color: rgb(39, 42, 49);
  text-align: center;
}

span {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  margin: 0 0 0 10%;
  padding-top: 15%;
  color: #ec5242;
  font-size: 0.8em;
  font-weight: 900;
}

.about-text {
  margin: 0 0 0 10%;
  padding-top: 15%;
  color: #ec5242;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}

.home-text h3 {
  font-size: 3em;
}

.home2 {
  background-image: url("assets/images/background2.jpg");
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-right: 40px;
  padding-bottom: 100px;
}

.home2 > p {
  text-align: center;
  padding-top: 5%;
  z-index: 2;
  margin: 0;
}

.line {
  height: auto;
  z-index: 3;
  margin: auto;
  display: block;
  width: 3em;
  margin-top: 10px;
}

.card-box {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 0 10px;
  align-items: center;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  background-color: rgba(39, 42, 49, 0.8);
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.card-box :hover {
  border: 2px solid #d3d3d3;
}

.no-hover:hover {
  border: none;
}

h6 {
  color: #ec5242;
  font-size: 0.9em;
}

.box-p {
  padding-left: 20px;
}

.box-p > p {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  width: 75px;
  height: 50px;
  margin: 20px;
}

.no-display {
  display: none;
}

.join-btn {
  background-color: #ec5242;
  color: #fff;
  padding: 30px;
  border: none;
  margin: 60px 0 0 0;
}

.artists {
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 200px;
  color: #d3d3d3;
  gap: 20px;
  padding-top: 30px;
}

.foot1 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 200px;
  background-color: #d3d3d3;
  gap: 20px;
  padding-top: 30px;
}

.foot-p {
  font-size: 0.8em;
}

.btr {
  width: 75px;
  height: 50px;
}

.btr-div {
  display: flex;
  padding-left: 10%;
}

.foot-div {
  color: rgb(39, 42, 49);
  padding-top: 30px;
  font-size: 1.2em;
}

.foot1-div {
  color: rgb(39, 42, 49);
  padding-top: 30px;
  font-size: 0.9em;
}

.spon-h {
  font-weight: 700;
  color: #d3d3d3;
}

.spon-p-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sponsor {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

hr {
  color: #ec5242;
  width: 30px;
  height: 5px;
  margin: 0 0 20px 0;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 42, 49);
  width: 100vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.line1 {
  padding: 0 40% 0 40%;
}

.sponsor1 > img {
  width: 60px;
  height: 60px;
  margin: 20px;
}

#sp1 {
  min-width: 120px;
}

#sp2 {
  min-width: 110px;
}

#sp3 {
  min-width: 90px;
}

.cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.all-cards {
  display: flex;
}

.card_img {
  width: 100px;
  height: 100px;
  background-size: cover;
  border: 1px solid #ec5242;
  box-shadow: 10px 10px 12px #ec5242;
}

.img-div :hover {
  width: 7em;
  height: 7em;
}

.img-div {
  min-width: 100px;
  height: 100px;
}

.txt-div {
  width: 65%;
}

.card-h {
  color: rgb(39, 42, 49);
  font-size: 0.9em;
  font-weight: 700;
}

.card-p1 {
  color: #ec5242;
  font-weight: 400;
  font-size: 0.8em;
  font-style: italic;
  line-height: 18px;
}

.card-p2 {
  color: rgb(39, 42, 49);
  font-weight: 400;
  font-size: 0.8em;
  line-height: 15px;
}

.about2-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.about2-txt {
  width: 80%;
  font-size: 2em;
  text-align: center;
}

.about2-logo {
  width: 80%;
  margin-bottom: 20px;
  height: 150px;
  margin-left: 0;
  border: 2px solid #d3d3d3;
  padding: 10px 20px 10px 30px;
}

.about2-p {
  width: 80%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.about-line {
  width: 50px;
  height: 5px;
}

.about2-logo-img {
  width: 100%;
  height: 60%;
  margin-top: 30px;
}

.about2-img1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  padding-bottom: 30px;
}

.overlay1 {
  background-color: rgba(236, 82, 66, 0.5);
  width: 100%;
  height: 250px;
  z-index: 5;
  color: #fff;
  text-align: center;
  padding-top: 75px;
}

.img1 {
  background-image: url("assets/images/concert1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background-image: url("assets/images/concert2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .nav_container {
    background-color: rgb(39, 42, 49);
  }

  .menu {
    display: none;
  }

  .nav_container > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 12em;
    gap: 40px;
    margin-bottom: 0;
  }

  .nav-link1 {
    color: #fff;
    text-decoration: none;
  }

  .nav-link2 {
    color: rgb(39, 42, 49);
    text-decoration: none;
  }

  .logo {
    border: 2px solid #ec5242;
    color: #ec5242;
    padding: 0 5px;
  }

  #small-logo {
    width: 50px;
    height: 25px;
    margin-right: 500px;
  }

  .nav-links :hover {
    color: #fff;
  }

  .nav1 {
    background-color: rgb(39, 42, 49);
  }

  .nav2 {
    margin-top: 24px;
    background-color: #fff;
  }

  .nav2-item {
    color: rgb(39, 42, 49);
  }

  .nav-icons {
    z-index: 9;
    width: 20px;
    height: 20px;
  }

  .home-top {
    margin-top: 50px;
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overlay {
    margin-top: 50px;
    height: auto;
    padding-bottom: 100px;
  }

  .home-p {
    border: 2px solid #d3d3d3;
    width: 50vw;
    align-content: center;
    margin: 0 0 0 10%;
    padding: 25px;
    font-weight: 600;
  }

  .home2 {
    height: auto;
  }

  .card-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-content: center;
    padding: 0 10vw;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 300px;
    height: auto;
    background-color: rgba(39, 42, 49, 0.8);
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .artists {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }

  .all-cards {
    display: flex;
  }

  .no-display {
    display: block;
    font-size: 0.8em;
    text-decoration: underline;
  }

  .join-btn {
    display: none;
  }

  .about2-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 16px;
  }

  #about-head {
    margin-left: 0;
  }

  .about-text {
    margin: 0;
    padding-top: 0;
    color: #ec5242;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
  }

  .about2-txt {
    width: 80%;
    font-weight: 600;
    font-size: 1.4em;
    text-align: center;
    padding-top: 20px;
  }

  .about2-txt2 {
    font-weight: 900;
    font-size: 0.8em;
  }

  .about2-logo {
    width: 30%;
  }

  .about2-img1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding-bottom: 30px;
  }

  .sponsor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 42, 49);
    width: 100vw;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer {
    background-color: #f7f3f3;
    width: 100vw;
    height: 200px;
    color: #d3d3d3;
    text-align: center;
    padding-top: 100px;
  }

  .foot1 {
    background-color: #d3d3d3;
    width: 100vw;
    height: 200px;
    text-align: center;
    padding-top: 100px;
  }

  .foot-p {
    color: rgb(39, 42, 49);
  }

  .foot1-p {
    color: rgb(39, 42, 49);
    font-size: 0.8em;
  }

  .btr {
    width: 75px;
    height: 50px;
  }

  .btr-div {
    display: flex;
    padding-left: 25%;
  }

  .foot-div {
    color: rgb(39, 42, 49);
    padding-top: 30px;
    font-size: 1.2em;
  }

  .foot1-div {
    color: #d3d3d3;
    padding-top: 30px;
    font-size: 1.2em;
  }

  .see-link {
    display: block;
    color: #d3d3d3;
  }
}
/*# sourceMappingURL=main.css.map */
